<ng-include src="'views/shared-partials/navbar.html'"></ng-include>

<section class="user-messages">
  <ng-include src="'views/messages/message-preview.partial.html'"></ng-include>
  <ng-include src="'views/messages/message-preview.partial.html'"></ng-include>
  <ng-include src="'views/messages/message-preview.partial.html'"></ng-include>
  <ng-include src="'views/messages/message-preview.partial.html'"></ng-include>
  <ng-include src="'views/messages/message-preview.partial.html'"></ng-include>
  <ng-include src="'views/messages/message-preview.partial.html'"></ng-include>
</section>