<a ng-href="/#/messages/{{ message.user.slug }}">
  <div class="message">
    <div class="thumb">
      <img ng-src="{{ cdnDomain }}/{{ message.user.avatar || 'components/com_community/assets/user.png' }}" />
    </div>
    <div class="message-column">
      <span class="timestamp" am-time-ago="message.message.posted_on"></span>
      <span class="user-name">{{ message.user.name }}</span><br />
      <p>
        {{ message.message.message | substr: 0:150 }}
      </p>
    </div>
    
    <div class="clearfix"></div>
  </div>
</a>