<a ng-href="">
  <div class="message">
    <div class="thumb">
      <img src="http://image.shutterstock.com/display_pic_with_logo/102804/127420826/stock-photo-man-over-white-background-overreacting-with-hands-on-face-127420826.jpg" />
    </div>
    <div class="message-column">
      <span class="timestamp">Dec. 2nd</span>
      <span class="user-name">John Westfield</span>
      <p>
        How are you doing? I wanted to message you and say Hi. Please fill me in on how you are doing. We need to..
      </p>
    </div>
    
    <div class="clearfix"></div>
  </div>
</a>