/**
 * @iamcutler
 * Apr. 2014
 * Stylesheet for the dirty girls
**/

// Include our project defined variables, mixins, etc
@import "lib.scss";

section.dirty-girl-image {
  padding: 10px;

  figure {
    width: 100%;
    height: 300px;
    overflow: hidden;

    img {
      width: 100%;
      min-height: 300px;
    }
  }
}

// ------------------------------ Dirty Girls ----------------------------
section.dirty-girls-of-the-month, section.dirty-girls-crew {
  padding: 10px;

  ul {
    padding: 0;
    margin: 0;

    li {
      position: relative;
      background: #FFF;
      height: 274px;
      list-style: none;
      margin-bottom: 20px;
      overflow: hidden;

      div.name-stripe {
        position: absolute;
        background: rgba(0, 0, 0, 0.6);
        top: 90px;
        width: 100%;
        color: #f4cb89;
        font: 40px "halo";
        text-align: center;
        padding: 20px;
      }

      img {
        min-width: 100%;
        min-height: 274px;
        max-height: 300px;
      }
    }
  }
}

// ------------------------ Dirty Girls Page ------------------------
section.dirty-girl-page {
  padding: 20px;

  h2 {
    color: #F4CB89;
    font: 40px 'halo';
  }

  h4 {
    text-align: center;
    margin-bottom: 20px;
  }

  .row, .row-fluid {
    &.page-thumbs {
      .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6,
      .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

// ------------------- Dirty Girl Submission ------------------------
section.dirty-submission {
  padding: 20px;

  .row, .row-fluid {
    .col-xs-12 {
      margin-bottom: 6px;
    }

    label {
      color: #F4CB89;
      font-weight:normal;

      span {
        &.required {
          color: #F00;
        }
      }
    }

    h5 {
      color: #F4CB89;
      font-size: 20px;
      text-align: center;
      border-top: 1px #FFF solid;
      border-bottom: 1px #FFF solid;
      padding: 10px 0;
    }
  }
}