//
// Author: @iamcutler
// Dec 2013 - Dirty Rotten Rides Hybrid Mobile Application
//

$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "compass";
@import "sass-bootstrap/lib/bootstrap";
// Include google Titillium font for now. Will embed fonts.
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,600,700,300,200);

@mixin border-radius($radius) {
     -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
         -o-border-radius: $radius;
      -ms-border-radius: $radius;
            border-radius: $radius;
}

html, body {
	background: #414042;
	width: 100%;
	height: 100%;
	font: 16px 'Titillium Web', sans-serif;
  color: #FFF;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

// ---------------------------- Globals ------------------------------
h1, h2, h3, h4, h5 ,h6 {
  font-family: 'Titillium Web', sans-serif;
}

// Main application wrapper
#app-container {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px #000;
  z-index: 2;
}

// ---------------------- Application Menu ----------------------
section.menu-app-user {
	font-size: 20px;
	
	div.thumb {
		float: left;
		background: #000;
		width: 68px;
		height: 68px;
		overflow: hidden;
		margin-right: 20px;
		
		img {
			max-width: 80px;
			min-height: 70px;
		}
	}	
	
	span {
		float: left;
		padding-top: 16px;
	}
}

section.application-menu {
	//Menu section headers
	header.category {
		background: #231f20;
		border-bottom: 1px #58595b solid;
		font-size: 20px;
		padding: 4px 20px;
		clear: both;
	}
	
	nav {
		a.menu-link:Link, a.menu-link:Visited, a.menu-link:Hover {
			color: #FFF;
			text-decoration: none;
			
			div.menu-icon {
				width: 100px;
				height: 100px;
				border: 3px #6d6e71 solid;
				margin: auto;
				@include border-radius(100px);
				margin-bottom: 6px;
			}
		
			// On click state
			&:Active {
				color: #f3ca8a;
				
				div.menu-icon {
					border-color: #ed1c24;
					@include background(radial-gradient(center, ellipse cover, rgba(188,188,188,0) 0%, rgba(2,2,2,0.4) 100%));
				}
			}
		}
	}
}

// ---------------------- News Feed ----------------------
section#news-feed {
  padding: 10px;
  
  article {
    background: #000 url("/images/ui-bg-texture.jpg") repeat;
    min-height: 80px;
    margin-bottom: 10px;
    @include border-radius(8px);
    
    header {
      padding: 20px;
      
      div.thumb {
        float: left;
        background: #000;
        width: 76px;
        height: 76px;
        overflow: hidden;
        margin: 0 20px 0 0;
        
        img {
          width: 76px;
          min-height: 76px;
        }
      }
      
      h2 {
        color: #b7b7b7;
        font-size: 24px;
        font-weight: normal;
        padding: 0;
        margin: 16px 0 0 0;
      }
      
      span {
        color: #b7272d;
      }
    }
    
    // status article
    p {
      padding: 10px 20px 10px 20px;
      border-top: 2px #6d6e71 solid;
      border-bottom: 2px #6d6e71 solid;
    }
    
    footer {
      padding: 0 20px 20px 20px;
      
      span {
        color: #f3ca8a;
        font-size: 14px;
        margin-bottom: 12px;
      }
      
      .row, .row-fluid {
        margin-top: 4px;
      }
    }
  }
}