//
// Author: @iamcutler
// Dec 2013 - Dirty Rotten Rides Hybrid Mobile Application
//

@font-face {
    font-family: 'headliner';
    src: url('../fonts/headliner.eot');
    src: url('../fonts/headliner.eot?#iefix') format('embedded-opentype'),
         url('../fonts/headliner.woff') format('woff'),
         url('../fonts/headliner.ttf') format('truetype'),
         url('../fonts/headliner.svg#headliner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'halo';
    src: url('../fonts/halohandletter.eot');
    src: url('../fonts/halohandletter.eot?#iefix') format('embedded-opentype'),
         url('../fonts/halohandletter.woff') format('woff'),
         url('../fonts/halohandletter.ttf') format('truetype'),
         url('../fonts/halohandletter.svg#halohandletter') format('svg');
    font-weight: normal;
    font-style: normal;

}

// Dirty Rotten Rides Glyph Icons
@font-face {
    font-family: 'DRRGlyphs';
    src: url('../fonts/drrglyphs.eot');
    src: url('../fonts/drrglyphs.eot') format('embedded-opentype'),
         url('../fonts/drrglyphs.woff') format('woff'),
         url('../fonts/drrglyphs.ttf') format('truetype'),
         url('../fonts/drrglyphs.svg#DRRGlyphs') format('svg');
}

$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "compass";
@import "sass-bootstrap/lib/bootstrap";
// Include our project defined variables, mixins, etc
@import "lib.scss";
// Include google Titillium font for now. Will embed fonts.
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,600,700,300,200);

html, body {
	background: #414042;
	width: 100%;
	height: 100%;
	font: 16px 'Titillium Web', sans-serif;
  color: #FFF;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

// ---------------------------- Globals ------------------------------
h1, h2, h3, h4, h5 ,h6 {
  font-family: 'Titillium Web', sans-serif;
}

// Main application wrapper
#app-container {
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  box-shadow: 0 0 8px #000;
  //overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 2;
  
  //Authentication
  &.auth {
    background: #000 url("../images/auth-bg.jpg") center top no-repeat;
    background-size: cover;
    padding-top: 4px;
  }

  // Registration
  section.user-register {
    padding-top: 50px;
  }

  // Page loader
  div.page-loader {
    position: fixed;
    background: #000 url('../images/loader-lg.gif') center center no-repeat;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
    @include border-radius(6px);
    overflow: hidden;
    z-index: 5;
  }
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: #808285;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #808285;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #808285;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #808285;
}

// Glyph icons in buttons
.btn {
  &.btn-default, &.btn-primary {
    i {
      font: 24px "DRRGlyphs";
      font-style: normal;
      line-height: 1px;
    }
  }

  &.btn-liked {
    color: #6d6e71 !important;
    @include text-shadow(0 0 4px #6d6e71);
  }
}

a.menu-link:Link, a.menu-link:Visited {
  color: #FFF;
  text-decoration: none;
  
  div.menu-icon {
    width: 100px;
    height: 100px;
    border: 3px #6d6e71 solid;
    margin: auto;
    font: 64px "DRRGlyphs";
    @include border-radius(100px);
    margin-bottom: 6px;

    // Menu icon glyph
    i {
      position: absolute;
      width: 100%;
      top: 52px;
      left: 0;
      font-style: normal;
      margin: 0;
      padding: 0;
      line-height: 1px;
    }
  }

  /* On click state
  // Evaulate this at a later date - @iamcutler
  &:Active {
    color: #f3ca8a;
    
    div.menu-icon {
      border-color: #ed1c24;
      @include background(radial-gradient(center, ellipse cover, rgba(188,188,188,0) 0%, rgba(2,2,2,0.4) 100%));
    }
  }*/
}

// Bootstrap modal
div.modal-content {
  background: #000 url('../images/ui-bg-texture.jpg') repeat;

  .row, .row-fluid {
    margin-left: 0;
    margin-right: 0;
  }

  textarea {
    background: #000;
    width: 100%;
    height: 74px;
    color: #CCC;
    padding: 10px;
    @include border-radius(6px);
    border: none;
    resize: none;
    outline: none;
    margin-bottom: 6px;
  }
}

// Page coming soon icon
div.page-icon {
  color: grey;
  text-align: center;
  margin: 40px auto;

  div {
    width: 200px;
    height: 200px;
    color: #F4CB89;
    font: 150px 'DRRGlyphs';
    border: 4px grey solid;
    line-height: 160px;
    @include border-radius(100px);
    margin: 20px auto;
  }
}

// Feed article
article.feed-article {
  background: #000 url("../images/ui-bg-texture.jpg") repeat;
  margin-bottom: 10px;
  @include border-radius(6px);
  @include text-shadow(0 0 6px #000);

  header {
    padding: 10px;

    div.thumb {
      float: left;
      background: #000;
      width: 56px;
      height: 56px;
      overflow: hidden;
      margin: 0 10px 0 0;

      img {
        width: 56px;
        min-height: 56px;
      }
    }

    h2 {
      color: #b7b7b7;
      font-size: 18px;
      font-weight: normal;
      padding: 0;
      margin: 8px 0 0 0;
    }

    span {
      color: #b7272d;
      font-size: 14px;
    }

    // Admin remove icon
    span.glyphicon {
      &.glyphicon-remove {
        float: right;
        width: inherit;
        cursor: pointer;
      }
    }
  }

  // Photos
  figure.photo-container {
    width: 100%;

    div.media-wrapper {
      width: 100%;
      max-height: 300px;
      overflow: hidden;

      img {
        width: 100%;
      }
    }

    figcaption {
      padding: 10px 20px;
      border-bottom: 2px #6d6e71 solid;
    }
  }

  // status article
  p {
    padding: 10px 20px 10px 20px;
    border-top: 2px #6d6e71 solid;
    border-bottom: 2px #6d6e71 solid;
  }

  footer {
    padding: 0 10px 10px 10px;

    span {
      color: #f3ca8a;
      font-size: 14px;
      margin-bottom: 12px;

      a:link, a:visited {
        color: #f3ca8a;
      }
    }

    .row, .row-fluid {
      margin-top: 4px;
    }
  }
}

// Feed loader when calling additional activity
div.feed-loader {
  background: url("../images/feed-loader.gif") center center no-repeat;
  height: 11px;
  padding: 30px 0 30px 0;
  margin: auto;
}

// ---------------------- Application Menu ----------------------
section.application-menu {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;

  div.menu-app-user {
  	font-size: 20px;
  	
  	div.thumb {
  		float: left;
  		background: #000;
  		width: 68px;
  		height: 68px;
  		overflow: hidden;
  		margin-right: 20px;
  		
  		img {
  			max-width: 80px;
  			min-height: 70px;
  		}
  	}	
  	
  	span {
  		float: left;
  		padding-top: 18px;
  	}
  }
  
	//Menu section headers
	header.category {
		background: #231f20;
		border-bottom: 1px #58595b solid;
		font-size: 20px;
		padding: 4px 20px;
		clear: both;
	}
	
	nav {
	  .row, .row-fluid {
  	  width: 80%;
      margin-left: 10px;
	  }
	}
}

// ---------------------- Authentication ----------------------
div.drr-brand {
  text-align: center;
}

// Login  
section.user-login {
  padding: 0 30px;
  
  // Login
  div.slogan {
    color: #f4cb89;
    font: 30px "headliner";
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 30px;
  }
  
  form[name="userLoginForm"] {
    div.fields-wrapper {
      background: #231f20;
      padding: 10px;
      @include border-radius(12px);
      
      .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, 
      .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        padding: 0;
      }
      
      input {
        padding: 8px;
        border: none;
        outline: none;
        
        &.form-control {
          font-size: 18px;
          min-height: 44px;
          
          &[type="text"] {
            @include border-top-left-radius(8px);
            @include border-top-right-radius(8px);
            @include border-bottom-left-radius(0);
            @include border-bottom-right-radius(0);
            border-bottom: 1px #CCC solid;
          }
          
          &[type="password"] {
            @include border-top-left-radius(0);
            @include border-top-right-radius(0);
            @include border-bottom-left-radius(8px);
            @include border-bottom-right-radius(8px);
            border-top: 1px #CCC solid;
          }
        }
      }
    }
  }
  
  .row, .row-fluid {
    margin: 0;
  }
  
  .btn {
    // Facebook login button
    &.btn-facebook {
      background: #3B5998;
      
      &:Hover {
        color: #FFF;
      }
    }
    
    // Signup button
    &.btn-signup {
      @include background(linear-gradient(top, rgba(66,66,66,1) 0%,rgba(25,25,25,1) 100%));
      border: none;
      
      &:Hover {
        color: #FFF;
      }
    }
  }
}

// Register
section.user-register {
  padding: 0 30px;
  
  h2 {
    color: #f4cb89;
    font-size: 20px;
  }
  
  form[name="accountRegistration"] {
    padding-bottom: 40px;

    input {
      padding: 8px;
      border: none;
      outline: none;
      
      &.form-control {
        font-size: 18px;
        min-height: 44px;
      }
    }

    .row, .row-fluid {
      .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, 
      .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        &.error {
          color: #F00;
        }
      }
    }
  }
  
  .row, .row-fluid {
    margin-left: 0;
    margin-right: 0;
    
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, 
    .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
      padding: 6px 0;
      
      // Register agree notice
      &.register-agree-notice {
        font-size: 14px;
      }
    }
  }
}

// ---------------------- News Feed ----------------------
.row, .row-fluid {
  &.feed-actions {
    background: #353535;
    padding: 6px 10px;
    margin-left: 0;
    margin-right: 0;
    
    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, 
    .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

section#news-feed {
  padding: 10px;
  
  article {
    background: #000 url("../images/ui-bg-texture.jpg") repeat;
    margin-bottom: 10px;
    @include border-radius(6px);
    
    header {
      padding: 10px;
      
      div.thumb {
        float: left;
        background: #000;
        width: 56px;
        height: 56px;
        overflow: hidden;
        margin: 0 10px 0 0;
        
        img {
          width: 56px;
          min-height: 56px;
        }
      }
      
      h2 {
        color: #b7b7b7;
        font-size: 18px;
        font-weight: normal;
        padding: 0;
        margin: 8px 0 0 0;
      }
      
      span {
        color: #b7272d;
        font-size: 14px;
      }
    }
    
    // status article
    p {
      padding: 10px 20px 10px 20px;
      border-top: 2px #6d6e71 solid;
      border-bottom: 2px #6d6e71 solid;
    }
    
    footer {
      padding: 0 10px 10px 10px;
      
      span {
        color: #f3ca8a;
        font-size: 14px;
        margin-bottom: 12px;
      }
      
      .row, .row-fluid {
        margin-top: 4px;
      }
    }
  }
}

// ---------------------- Friend Requests ----------------------
section.friend-requests {
  padding: 10px;
  
  div.friend-request {
    background: #000 url("../images/ui-bg-texture.jpg") repeat;
    min-height: 40px;
    padding: 10px;
    margin-bottom: 10px;
    @include border-radius(6px);
    
    div.thumb {
      float: left;
      background: #000;
      width: 110px;
      height: 110px;
      overflow: hidden;
      
      img {
        min-width: 110px;
        height: 110px;
      }
    }
    
    div.request-actions {
      padding-left: 130px;
      padding-top: 12px;
      
      span.user-name {
        color: #f4cb89;
        font-size: 24px;
        clear: both;
      }
    }   
    
    // Bootstrap row remove padding
    div.row, div.row-fluid {
      margin-left: 0;
      margin-right: 0;
      padding-top: 4px;
            
      .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6,
      .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
        padding-left: 0;
        padding-right: 0;
        margin-right: 0;
        margin-bottom: 6px;
      }
    }
  }
}

// --------------------- Application Media ---------------------
section.app-media {
  padding: 10px;
  
  article {
    margin-bottom: 26px;
    
    header {
      div.thumb {
        float: left;
        background: #FFF;
        width: 50px;
        height: 50px;
        margin-right: 20px;
        overflow: hidden;
        
        img {
          min-width: 50px;
          height: 50px;
        }
      }
      
      span {
        &.user-name {
          float: left;
          font-size: 18px;
          padding-top: 10px;
        }
        
        &.timestamp {
          float: right;
          color: #b7272d;
          font-size: 14px;
          padding-top: 12px;
        }
      }
    }
    
    div.media-wrapper {
      height: 416px;
      margin-top: 6px;
      overflow: hidden;
      
      img {
        width: 100%;
        min-height: 416px;
      }
        
      &.video {
        img {
          @include opacity(0.6);
        }
      }
        
      div.video-icon {
        position: absolute;
        right: 16px;
        background: url("../images/video-media-icon.png") center bottom no-repeat;
        width: 40px;
        height: 38px;
      }
    }
    
    footer {
      padding-top: 6px;
      clear: both;
      
      .row, .row-fluid {
        margin-left: 0;
        margin-right: 0;
        
        &.media-actions {
          padding-top: 6px;  
        }
        
        .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6,
        .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
          padding: 0;
          
          &.media-caption {
            color: #bcbec0;
            font-size: 14px;
            font-weight: 400;
          }
          
          &.media-stats {
            color: #f3ca8a;
            font-size: 12px;
            text-align: right;
          }
        }
      }
    }
  }
}

// ------------------------------ Dirty Girls ----------------------------
section.dirty-girls-of-the-month, section.dirty-girls-crew {
  padding: 10px;
  
  ul {
    padding: 0;
    margin: 0;
    
    li {
      position: relative;
      background: #FFF;
      height: 274px;
      list-style: none;
      margin-bottom: 20px;
      overflow: hidden;
      
      div.name-stripe {
        position: absolute;
        background: rgba(0, 0, 0, 0.6);
        top: 90px;
        width: 100%;
        color: #f4cb89;
        font: 40px "halo";
        text-align: center;
        padding: 20px;
      }
      
      img {
        width: 100%;
        min-height: 274px;
      }
    }
  }
}

// ------------------------ Dirty Girls Page ------------------------
section.dirty-girl-page {
  padding: 20px;

  h2 {
    color: #F4CB89;
    font: 40px 'halo';
  }

  h4 {
    text-align: center;
    margin-bottom: 20px;
  }
}

// ------------------- Dirty Girl Submission ------------------------
section.dirty-submission {
  padding: 20px;

  .row, .row-fluid {
    .col-xs-12 {
      margin-bottom: 6px;
    }

    label {
      color: #F4CB89;
      font-weight:normal;

      span {
        &.required {
          color: #F00;
        }
      }
    }

    h5 {
      color: #F4CB89;
      font-size: 20px;
      text-align: center;
      border-top: 1px #FFF solid;
      border-bottom: 1px #FFF solid;
      padding: 10px 0;
    }
  }
}

// ---------------------- Activity Page ----------------------
section.activity-container {
  padding: 10px 10px 80px 10px;

  article.main {
    background: #000 url("../images/ui-bg-texture.jpg") repeat;
    @include border-radius(6px);
    padding-bottom: 10px;

    header {
      padding: 10px;

      div.thumb {
        float: left;
        background: #000;
        width: 56px;
        height: 56px;
        overflow: hidden;
        margin: 0 10px 0 0;

        img {
          width: 56px;
          min-height: 56px;
        }
      }

      h2 {
        color: #b7b7b7;
        font-size: 18px;
        font-weight: normal;
        padding: 0;
        margin: 8px 0 0 0;
      }

      span {
        color: #b7272d;
        font-size: 14px;
      }

      // Admin remove icon
      span.glyphicon {
        &.glyphicon-remove {
          float: right;
          width: inherit;
          cursor: pointer;
        }
      }
    }

    hr {
      border-top: 1px solid #6d6e71;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    // Photo
    figure.photo-container {
      width: 100%;

      div.media-wrapper {
        width: 100%;
        max-height: 400px;
        overflow: hidden;

        img {
          width: 100%;
        }
      }

      figcaption {
        padding: 10px 20px;
        border-bottom: 2px #6d6e71 solid;
      }
    }

    // status article
    p {
      padding: 0 10px 0 10px;
    }

    span.stats {
      color: #f3ca8a;
      font-size: 14px;
      padding: 0 10px 10px 10px;

      a:link, a:visited {
        color: #f3ca8a;
      }
    }

    div.article-comments {
      div.comment {
        border-top: 1px solid #6d6e71;
        padding: 14px 10px 0px 10px;
        margin-top: 10px;

        div.thumb {
          float: left;
          width: 44px;
          height: 44px;
          overflow: hidden;

          img {
            width: 44px;
            min-height: 44px;
          }
        }

        // Admin remove icon
        span.glyphicon {
          &.glyphicon-remove {
            float: right;
            color: #b7272d;
            width: inherit;
            cursor: pointer;
          }
        }

        div.comment-body {
          padding-left: 56px;
          font-size: 14px;

          span {
            &.name {
              font-size: 16px;
              color: #f3ca8a;
            }

            &.timestamp {
              color: #b7272d;
              font-size: 12px;
            }
          }

          p {
            padding: 0;
            margin: 0;
          }
        }
      }
    }
  }
}

// ---------------------- Account Settings ----------------------
section.account-settings {
  padding: 10px;

  .row, .row-fluid {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 6px;

    h1, h2, h3, h4, h5, h6 {
      color: #F3CA8A;
    }
  }
}

// ---------------------- Report Problems ----------------------
section.report-bug {
  padding: 20px;

  form[name="reportBug"] {
    p {
      // device information notice
      &.notice {
        color: #f4cb89;
        font-size: 14px;
      }
    }

    select, textarea {
      width: 100%;
      color: #808285;
      font-size: 18px;
      padding: 10px;
      -webkit-appearance: none;
      appearance: none;
      @include border-radius(8px);
    }
  }
}

// ------------------------- Errors ----------------------------
section.error-page {
  text-align: center;
}