/**
 * Apr. 10, 2014
 * @iamcutler
 * Stylesheet for the latest media
**/

// Include our project defined variables, mixins, etc
@import "lib.scss";

section.app-media, article.feed-article {
  .media-wrapper {
    min-height: 100px;
    max-height: 400px;

    video, iframe {
      position: absolute;
      background: #000;
      height: 400px;
    }

    object, embed {
      position: absolute;
      height: 400px;
    }

    &> div {
      position: absolute;
      width: 100%;

      video, iframe {
        position: absolute;
        background: #000;
        height: 400px;
      }

      object, embed {
        position: absolute;
        height: 400px;
      }
    }
  }
}

// News Feed
article.feed-article {
  .media-wrapper {
    max-height: 300px;

    video, iframe, object, embed {
      position: static;
    }
  }
}

// Activity page
section.activity-container {
  .media-wrapper {
    max-height: 400px;
    overflow: hidden;

    .vjs-control-bar {
      overflow: hidden;
    }
  }
}