// Include our project defined variables, mixins, etc
@import "lib.scss";

// ------------ Tablet Media Queries --------------
@media only screen
and (min-width : 568px)
and (max-width : 1024px) {
  // Main application wrapper
  #app-container {
    overflow-y: scroll;
    // Keep scrolling smooth on webkit
    -webkit-overflow-scrolling: touch;
  }

  // Navigation
  section.application-menu {
    width: 100%;
    overflow-y: scroll;
    // Keep scrolling smooth on webkit
    -webkit-overflow-scrolling: touch;

    // Menu icons
    a.menu-link:Link, a.menu-link:Visited {
      div.menu-icon {
        // Menu icon glyph
        i {
          top: 64px;
        }
      }
    }
  }

  // Profile User Videos & Photos
  section#user-videos, section#user-photos {
    .row, .row-fluid {
      .col-xs-4 {
        div.thumbnail {
          width: 110px;
          height: 110px;

          img {
            min-width: 100%;
            max-width: 120%;
            min-height: 110px;
          }
        }
      }
    }
  }

  // Profile feed
  section.user-profile {
    div#profile-feed {
      figure.photo-container {
        div.media-wrapper {
          max-height: 600px;

          img {
            min-width: 100%;
            height: 600px;
          }
        }
      }

      article.feed-article {
        div.media-wrapper {
          height: 600px;

          img {
            min-height: 600px;
          }
        }
      }
    }
  }

  // Dirty Girls
  section.dirty-girls-of-the-month, section.dirty-girls-crew {
    ul {
      li {
        height: 500px;

        div.name-stripe {
          top: 190px;
        }

        img {
          width: 100%;
          min-height: 500px;
        }
      }
    }
  }

  // Bootstrap modal
  .modal {
    // Keep scrolling smooth on webkit
    -webkit-overflow-scrolling: touch;
  }
}

// ------------ Smart phone Media Queries --------------
@media only screen
and (min-width : 320px)
and (max-width : 568px) {
  // Main application wrapper
  #app-container {
    overflow-y: scroll;
    // Keep scrolling smooth on webkit
    -webkit-overflow-scrolling: touch;
  }

  // Authentication
  div.drr-brand {
    img {
      max-width: 220px;
    }
  }

  // Login
  section.user-login {
    div.slogan {
      font: 24px "headliner";
    }
  }

  // Navigation
  section.application-menu {
    width: 90%;
    overflow-y: scroll;
    // Keep scrolling smooth on webkit
    -webkit-overflow-scrolling: touch;

    div.menu-app-user {
      font-size: 20px;

      div.thumb {
        width: 56px;
        height: 56px;
        margin-right: 10px;

        img {
          max-width: 70px;
          min-height: 60px;
        }
      }

      span {
        font-size: 16px;
        padding-top: 16px;
      }
    }

    a.menu-link:Link, a.menu-link:Visited {
      font-size: 14px;

      div.menu-icon {
        width: 70px;
        height: 70px;
        border: 3px #6d6e71 solid;
        margin: 0 auto;
        font: 54px "DRRGlyphs";
        @include border-radius(70px);
        padding-top: 0px;
        margin-bottom: 6px;
      }
    }
  }

  // User Profile
  section.user-profile {
    div.user-profile-header {
      div.thumbnail {
        float: left;
        width: 56px;
        height: 56px;
        margin: 0;
        padding: 2px;
        overflow: hidden;

        img {
          width: 100%;
          min-height: 100%;
        }
      }

      div.profile-status-column {
        margin-left: 60px;
      }
    }
  }


  // Voting
  section.dirty-voting {
    h1, h2, h3, h4, h5, h6 {
      &.voting-question {
        color: #F4CB89;
        font: 26px 'halo', Helvetica, Arial;
        text-align: center;
      }
    }
  }

  // Application Media
  section.app-media {
    article {
      header {
        div.thumb {
          margin-right: 16px;
        }

        span {
          &.user-name {
            font-size: 16px;
          }

          &.timestamp {
            float: right;
            color: #b7272d;
            font-size: 14px;
            padding-top: 12px;
          }
        }
      }

      div.media-wrapper {
        height: 300px;

        img {
          width: 100%;
          min-height: 300px;
        }

        video, iframe, object, embed {
          min-height: 200px;
          max-height: 300px;
          min-width: 100%;
          max-width: 100%;
        }
      }
    }
  }

  // Bootstrap modal
  .modal {
    // Keep scrolling smooth on webkit
    -webkit-overflow-scrolling: touch;
  }
}