// Include our project defined variables, mixins, etc
@import "lib.scss";

section.user-profile {
  padding: 10px;

  // Profile Header
  div.user-profile-header {
    background: #000 url("../images/ui-bg-texture.jpg") repeat;
    padding: 10px;
    @include border-radius(6px);
    @include text-shadow(0 0 6px #000);

    div.thumbnail {
      float: left;
      width: 180px;
      height: 120px;
      margin: 0;
      padding: 0;
      overflow: hidden;

      img {
        min-width: 100%;
        min-height: 100%;
      }
    }

    .profile-status-column {
      font-size: 14px;
      margin-left: 190px;

      .profile-status {
        font-size: 18px;
        line-height: 24px;

        span {
          font-size: 16px;
          color: #b7272d;
        }
      }

      .user-stats {
        a:link, a:visited {
          color: #f3ca8a;
        }
      }
    }
  }

  // User menu for events, groups, photos, etc
  nav {
    &.profile-navigation {
      width: 100%;
      overflow-x: scroll;
      overflow-y: hidden;

      // Hide scrollbar on webkit
      &::-webkit-scrollbar {
        display: none;
      }

      .row, .row-fluid {
        .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6,
        .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
          min-width: 100px;
          padding-left: 6px;
          padding-right: 6px;
        }
      }

      // Navigation icons
      a:link, a:visited {
        &.menu-link {
          i {
            top: 32px;
          }
        }
      }
    }
  }
  .row, .row-fluid {
    &.user-activities {
      display: flex;
      text-align: center;
      white-space: nowrap;
      margin: 20px 0 0 0;

      a.menu-link:Link, a.menu-link:Visited {
        font-size: 14px;

        div.menu-icon {
          width: 70px;
          height: 70px;
          font: 50px "DRRGlyphs";
        }
      }
    }
  }

  // Profile feed
  div#profile-feed {
    padding: 10px 0;

    figure.photo-container {
      width: 100%;

      div.media-wrapper {
        width: 100%;
        max-height: 300px;
        overflow: hidden;

        img {
          min-width: 100%;
          height: 300px;
        }
      }

      figcaption {
        padding: 10px 20px;
        border-bottom: 2px #6d6e71 solid;
      }
    }
  }

  div.pending-request {
    text-align: center;
    margin: -20px 0 20px 0;
  }
}

// Profile about user
section.about-user {
  padding: 10px;
  @include text-shadow(0 0 6px #000);

  div.user-information {
    background: url('../images/ui-bg-texture.jpg') repeat;
    padding: 10px;
    @include border-radius(8px);

    h1, h2, h3, h4, h5, h6 {
      color: #F3CA8A;
      font-weight: bold;
    }

    .row, .row-fluid {
      .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6,
      .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
        padding-left: 6px;
        padding-right: 6px;
      }
    }

    hr {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    span.title {
      color: #999;
    }
  }
}

// Profile friends
section#user-friends {
  padding: 10px;

  div.contact-label {
    h1, h2, h3, h4, h5, h6 {
      font-weight: bold;
      margin: 0;
    }

    hr {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  div.friend {
    background: #000 url("../images/ui-bg-texture.jpg") repeat;
    @include border-radius(8px);
    padding: 6px;
    margin-bottom: 10px;

    div.thumbnail {
      float: left;
      width: 50px;
      height: 50px;
      border: none;
      margin: 0 16px 0 0;
      padding: 0;
    }

    span {
      float: left;
      margin-top: 12px;
    }
  }
}

//Photo albums
section#user-albums {
  padding: 20px;

  .row, .row-fluid {
    &.photo-album {
      margin-bottom: 10px;
    }

    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6,
    .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
      &.user-album {
        background: #000 url("../images/ui-bg-texture.jpg") repeat;
        padding: 10px;
        @include border-radius(6px);

        div.thumbnail {
          float: left;
          width: 60px;
          height: 60px;
          margin: 0 20px 0 0;
        }

        span.album-name {
          float: left;
          font-size: 18px;
          padding-top: 16px;
        }
      }
    }
  }
}

// User Photos
section#user-photos {
  background: #000 url("../images/ui-bg-texture.jpg") repeat;
  padding: 10px;
  margin: 10px;
  @include border-radius(8px);

  // Override bootstrap thumbnail styling
  div.thumbnail {
    width: 70px;
    height: 70px;
    padding: 0;
    @include border-radius(0);
    overflow: hidden;
    border: none;
    margin: 10px 0;

    img {
      min-width: 100%;
      min-width: 70px;
    }
  }
}

// User Videos
section#user-videos {
  padding: 20px;

  // Override bootstrap thumbnail styling
  div.thumbnail {
    width: 56px;
    height: 56px;
    padding: 0;
    @include border-radius(0);
    overflow: hidden;

    img {
      min-width: 100%;
      height: 56px;
    }
  }
}

// User groups
section#user-groups {
  padding: 10px;

  div.group {
    background: #000 url("../images/ui-bg-texture.jpg") repeat;
    @include border-radius(8px);
    padding: 10px;
    margin-bottom: 10px;

    div.thumbnail {
      float: left;
      width: 60px;
      height: 60px;
      margin: 0 16px 0 0;
    }

    span {
      float: left;
      margin-top: 18px;
    }
  }
}

// User events
section#user-events {
  padding: 10px;

  div.event {
    background: #000 url("../images/ui-bg-texture.jpg") repeat;
    @include border-radius(8px);
    padding: 10px;
    margin-bottom: 10px;

    div.thumbnail {
      float: left;
      width: 60px;
      height: 60px;
      margin: 0 16px 0 0;
    }

    span {
      float: left;
      margin-top: 18px;
    }
  }
}

// User Status
section.status-container {

  #status-navigation {
    button {
      &.btn-default, &.btn-primary {
        font-size: 16px;
      }
    }
  }

  .row, .row-fluid {
    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6,
    .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
      &:nth-child(odd) {
        padding-left: 0;
      }

      &:nth-child(even) {
        padding-right: 0;
      }
    }

    .col-xs-12 {
      padding-left: 0;
      padding-right: 0;
    }
  }

  hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .thumbnail {
    float: left;
    background: none;
    width: 60px;
    padding: 0;
    margin-right: 10px;
    border: none;
    @include border-radius(0);
  }

  input{
    background: #000;
    border: none;
  }

  select {
    background: #000;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  textarea {
    height: 60px;
  }

  // Hide status containers
  [id$=-status] {
    display: none;
  }

  // Photo status
  #photo-status {
    .progress {
      margin: 15px;
      display: none;
    }
  }

  // Event status
  #event-status {
    .row, .row-fluid {
      & > div {
        margin-bottom: 6px;
      }
    }

    #repeat-end {
      display: none;
    }
  }
}