// Include our project defined variables, mixins, etc
@import "lib.scss";

div.search-loader {
  position: fixed;
  top: 50%;
  left: 50%;
  background: url('../images/loader-sm.gif') center no-repeat;
  width: 16px;
  height: 16px;
  margin: -8px 0 0 -8px;
}

.row, .row-fluid {
  &.search-bar {
    background: #353535;
    padding: 10px 10px;
    margin-left: 0;
    margin-right: 0;

    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6,
    .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

section.search-people {
  ul {
    padding: 0;
    margin: 0;

    li {
      width: 100%;
      border-bottom: 1px #FFF solid;
      list-style: none;

      .thumbnail {
        float: left;
        width: 50px;
        height: 50px;
        padding: 0;
        margin: 0 10px 0 0;
        border: 0;
        overflow: hidden;
        @include border-radius(0);

        img {
          width: 50px;
          min-height: 50px;
        }
      }

      span {
        float: left;
        padding-top: 12px;
      }

      a:link, a:visited {
        &.add-friend {
          float: right;
          color: #f4cb89;
          font-size: 30px;
          margin: 0 10px 0 0;
          padding: 0;
          font-weight: bold;
        }
      }
    }
  }
}

// Search Events
section.search-events {
  padding: 10px;

  div.event {
    background: #000 url('../images/ui-bg-texture.jpg') repeat;
    padding: 10px;
    margin-bottom: 6px;
    @include border-radius(6px);

    div.thumbnail {
      float: left;
      width: 56px;
      height: 56px;
      padding: 0;
      overflow: hidden;
      margin: 0 10px 0 0;

      img {
        width: 100%;
        min-height: 56px;
      }
    }

    div.event-info {
      span {
        font-size: 14px;

        &.title {
          color: #F4CB89;
          font-size: 16px;
        }
      }
    }
  }
}