<section class="vote-contestant clearfix">
  <header class="clearfix" ng-if="user.length != 0">
    <a ng-href="/#/profile/{{ user.slug }}">
      <div class="thumbnail">
        <img ng-src="{{ cdnDomain }}/{{ user.thumbnail }}" />
      </div>
      <span class="contestant-name">{{ user.name }}</span>
    </a>
  </header>

  <figure>
    <img ng-src="{{ cdnDomain }}{{ contestant.thumbnail }}" />
  </figure>

  <footer>
    <div class="row-fluid">
      <div class="col-xs-6" style="padding-left: 0;">
        <button type="button" class="btn btn-block btn-lg btn-default" ng-click="close();">Close</button>
      </div>
      <div class="col-xs-6" style="padding-right: 0;">
        <cast-vote poll="{{ poll.id }}" period="{{ poll.voting_period }}" answer="{{ contestant.id }} "></cast-vote>
      </div>
    </div>
  </footer>
</section>