<section class="user-login">
  <div class="drr-brand">
    <img src="/images/drr-brand.png" />
  </div>
  
  <div class="slogan">Where Pinups and Rides Collide!</div>
  
  <div class="row" ng-if="loginSubmitted || loginError">
    <div class="col-md-12">
      <div class="alert alert-danger">
        <div class="col-md-12 error" ng-show="userLoginForm.username.$error.required && loginSubmitted">&bull; username is required</div>
        <div class="col-md-12 error" ng-show="userLoginForm.password.$error.required && loginSubmitted">&bull; password is required</div>
        <div class="col-md-12 error" ng-if="loginError">&bull; {{ loginError }}</div>
      </div>
    </div>
  </div>

  <form name="userLoginForm" novalidate ng-submit="processLogin(userLoginForm)">
    <div class="fields-wrapper">
      <div class="row">
        <div class="col-md-12">
          <input type="text" name="username" class="form-control" placeholder="username:" ng-model="login.username" required />
        </div>
        <div class="col-md-12">
          <input type="password" name="password" class="form-control" placeholder="password:" ng-model="login.password" required />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" style="padding: 12px 0;">
        <button type="submit" class="btn btn-block btn-lg btn-primary">Login</button>
        </div>
    </div>
  </form>
  
  <div class="row">
    <div class="col-md-12" style="padding: 0;">
      <a ng-href="" class="btn btn-block btn-lg btn-facebook">Login via facebook</a>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12" style="padding: 12px 0;">
      <a ng-href="/#/register" class="btn btn-block btn-lg btn-signup">Signup for a <strong>FREE</strong> account</a>
    </div>
  </div>
</section>