<section class="user-login">
  <div class="drr-brand">
    <img src="/images/drr-brand.png" />
  </div>
  
  <div class="slogan">Where Pinups and Rides Collide!</div>
  
  <form name="user-login">
    <div class="fields-wrapper">
      <div class="row">
        <div class="col-md-12">
          <input type="text" name="username" class="form-control" placeholder="username:" />
        </div>
        <div class="col-md-12">
          <input type="password" name="password" class="form-control" placeholder="password:" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" style="padding: 12px 0;">
        <button type="submit" class="btn btn-block btn-lg btn-primary">Login</button>
        </div>
    </div>
  </form>
  
  <div class="row">
    <div class="col-md-12" style="padding: 0;">
      <a ng-href="" class="btn btn-block btn-lg btn-facebook">Login via facebook</a>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12" style="padding: 12px 0;">
      <a ng-href="/#/register" class="btn btn-block btn-lg btn-signup">Signup for a <strong>FREE</strong> account</a>
    </div>
  </div>
</section>