<section class="user-register">
  <div class="drr-brand">
    <img src="/images/drr-brand.png" />
  </div>
  
  <form name="user-register">
    <div class="row">
      <div class="col-md-12">
        <h2>Create your <strong>FREE</strong> account:</h2>
      </div>
      <div class="col-md-12">
        <input type="text" name="" id="" class="form-control" placeholder="name:" />
      </div>
      <div class="col-md-12">
        <input type="text" name="" id="" class="form-control" placeholder="desired username:" />
      </div>
      <div class="col-md-12">
        <input type="text" name="" id="" class="form-control" placeholder="email address:" />
      </div>
      <div class="col-md-12">
        <input type="text" name="" id="" class="form-control" placeholder="password:" />
      </div>
      <div class="col-md-12">
        <input type="date" name="" id="" class="form-control" placeholder="date of birth:" />
      </div>
      <div class="col-md-12 register-agree-notice">
        By clicking sign Up, you agree to our Terms and Conditions and that you have read our Privacy Policy, including our Cookie Use. You may receive SMS notifications from Dirty Rotten Rides and can opt not at any time.
      </div>
      <div class="col-md-12">
        <button type="submit" class="btn btn-block btn-lg btn-primary">Sign Up</button>
      </div>
    </div>
  </form>
</section>