<nav class="clearfix">
	<div class="row-fluid">
		<div class="col-md-4">
			<navigation-item ng-href="/#/dirty-girls" icon="D" title="Dirty Girls"></navigation-item>
		</div>
		<div class="col-md-4">
			<navigation-item ng-href="/#/vote" icon="V" title="Vote"></navigation-item>
		</div>
		<div class="col-md-4">
      <a href="http://www.dirtyrottenridesapparel.com" class="menu-link" target="_blank"><div class="menu-icon"><i>C</i></div>Shop</a>
		</div>
	</div>
  <div class="row-fluid">
    <div class="col-md-4">
      <navigation-item ng-href="/#/dirty-submission" icon="R" title="Dirty Submission"></navigation-item>
    </div>
  </div>
</nav>