<section class="application-menu">
  <div class="menu-app-user">
  	<a ng-href="">
  		<div class="thumb"><img ng-src="http://image.shutterstock.com/display_pic_with_logo/102804/127420826/stock-photo-man-over-white-background-overreacting-with-hands-on-face-127420826.jpg" /></div>
  		<span>John Westfield</span>
  	</a>
  </div>
  
	<!-- Social Navigation -->
	<header class="category">Social</header>
	<ng-include src="'views/shared-partials/social-navi.html'"></ng-include>
	
	<!-- DRR Navigation -->
	<header class="category">Navigation</header>
	<ng-include src="'views/shared-partials/drr-navi.html'"></ng-include>
	
	<!-- Account Navigation-->
	<header class="category">Account</header>
	<ng-include src="'views/shared-partials/account-navi.html'"></ng-include>
</section>