<section class="application-menu">
  <div class="menu-app-user">
  	<navigation-user ng-href="/#/profile/{{ current_user.slug }}" name="{{ current_user.name }}" thumbnail="{{ cdnDomain }}/{{ current_user.thumbnail || imgPlaceholder }}"></navigation-user>
  </div>
  
	<!-- Social Navigation -->
	<header class="category">Social</header>
	<ng-include src="'/views/shared-partials/social-navi.html'"></ng-include>
	
	<!-- DRR Navigation -->
	<header class="category">Navigation</header>
	<ng-include src="'/views/shared-partials/drr-navi.html'"></ng-include>
	
	<!-- Account Navigation-->
	<header class="category">Account</header>
	<ng-include src="'/views/shared-partials/account-navi.html'"></ng-include>
</section>