<nav class="clearfix">
  <div class="row-fluid">
    <div class="col-md-4">
      <navigation-item ng-href="/#/feed" icon="F" title="News Feed"></navigation-item>
    </div>
    <div class="col-md-4">
      <navigation-item ng-href="/#/requests" icon="P" title="Friend Requests"></navigation-item>
    </div>
    <div class="col-md-4">
      <navigation-item ng-href="/#/messages" icon="M" title="My Messages"></navigation-item>
    </div>
    <div class="col-md-4">
      <navigation-item ng-href="/#/find-people" icon="U" title="Find People"></navigation-item>
    </div>
    <div class="col-md-4">
      <navigation-item ng-href="/#/search-events" icon="E" title="Find Events"></navigation-item>
    </div>
    <div class="col-md-4">
      <navigation-item ng-href="/#/media" icon="I" title="Media"></navigation-item>
    </div>
    <!--<div class="col-md-4">
      <navigation-item ng-href="/#/" icon="S" title="Share DRR"></navigation-item>
    </div>-->
  </div>
</nav>