<nav>
	<div class="row-fluid">
		<div class="col-md-4">
			<a ng-href="/feed" class="menu-link">
				<div class="menu-icon"></div>
				News Feed
			</a>
		</div>
		<div class="col-md-4">
			<a href="" class="menu-link">
				<div class="menu-icon"></div>
				My Friends
			</a>
		</div>
		<div class="col-md-4">
			<a href="" class="menu-link">
				<div class="menu-icon"></div>
				My Messages
			</a>
		</div>
		<div class="col-md-4">
			<a href="" class="menu-link">
				<div class="menu-icon"></div>
				Events
			</a>
		</div>
		<div class="col-md-4">
			<a href="" class="menu-link">
				<div class="menu-icon"></div>
				Media
			</a>
		</div>
		<div class="col-md-4">
			<a href="" class="menu-link">
				<div class="menu-icon"></div>
				Notifications
			</a>
		</div>
		<div class="col-md-4">
			<a href="" class="menu-link">
				<div class="menu-icon"></div>
				Share DRR
			</a>
		</div>
	</div>
</nav>