<section class="already-voted">
  <page-icon icon="D"></page-icon>

  You have already voted on this poll<br />
  Come back soon and you'll be able to vote again on this poll...<br /><br />

  <div class="row-fluid clearfix">
    <div class="col-md-6" style="margin-bottom: 6px;">
      <button type="button" class="btn btn-block btn-primary" ng-click="viewResults()">View Current Results</button>
    </div>
    <div class="col-md-6">
      <button type="button" class="btn btn-block btn-primary" ng-click="goBack()">Go Back</button>
    </div>
  </div>
</section>