<ng-include src="'views/shared-partials/navbar.html'"></ng-include>

<div class="row feed-actions">
  <div class="col-xs-6" style="padding-right: 6px;">
    <toggle-dirty-girls class="btn btn-block btn-lg btn-default" category="monthly">Dirty Girls of the Month</toggle-dirty-girls>
  </div>
  <div class="col-xs-6" style="padding-left: 6px;">
    <toggle-dirty-girls class="btn btn-block btn-lg btn-default" category="crew">Dirty Girls Crew</toggle-dirty-girls>
  </div>
</div>

<section class="dirty-girls-of-the-month">
  <ul>
    <ng-include ng-repeat="dirty_girl in dirty_girls" ng-if="dirty_girl.type == 0" src="'views/dirty-girls/dirty-girl-thumb.partial.html'"></ng-include>
  </ul>
</section>

<section class="dirty-girls-crew" style="display: none;">
  <ul>
    <ng-include ng-repeat="dirty_girl in dirty_girls" ng-if="dirty_girl.type == 1" src="'views/dirty-girls/dirty-girl-thumb.partial.html'"></ng-include>
  </ul>
</section>