<ng-include src="'views/shared-partials/navbar.html'"></ng-include>

<div class="row feed-actions">
  <div class="col-xs-6" style="padding-right: 6px;">
    <a ng-href="">
      <div class="btn btn-block btn-lg btn-default">Dirty Girls of the Month</div>
    </a>
  </div>
  <div class="col-xs-6" style="padding-left: 6px;">
    <a ng-href="">
      <div class="btn btn-block btn-lg btn-default">Dirty Girls Crew</div>
    </a>
  </div>
</div>

<section class="dirty-girls-of-the-month">
  <ul>
    <ng-include src="'views/dirty-girls/dirty-girl-thumb.partial.html'"></ng-include>
    <ng-include src="'views/dirty-girls/dirty-girl-thumb.partial.html'"></ng-include>
    <ng-include src="'views/dirty-girls/dirty-girl-thumb.partial.html'"></ng-include>
    <ng-include src="'views/dirty-girls/dirty-girl-thumb.partial.html'"></ng-include>
  </ul>
</section>

<section class="dirty-girls-crew">
  <ng-include src="'views/dirty-girls/dirty-girl-thumb.partial.html'"></ng-include>
  <ng-include src="'views/dirty-girls/dirty-girl-thumb.partial.html'"></ng-include>
</section>