<div class="row-fluid page-thumbs clearfix">
  <div class="col-xs-4" ng-if="dirty_girl.media.thumbnail">
    <div class="thumbnail">
      <img ng-src="{{ cdnDomain + dirty_girl.media.thumbnail }}" fallback-src="{{ drrDomain + dirty_girl.media.thumbnail }}" alt="" enlarge-dirty-image />
    </div>
  </div>
  <div class="col-xs-4" ng-if="dirty_girl.media.image_1">
    <div class="thumbnail">
      <img ng-src="{{ cdnDomain + dirty_girl.media.image_1 }}" fallback-src="{{ drrDomain + dirty_girl.media.image_1 }}" alt="" enlarge-dirty-image />
    </div>
  </div>
  <div class="col-xs-4" ng-if="dirty_girl.media.image_2">
    <div class="thumbnail">
      <img ng-src="{{ cdnDomain + dirty_girl.media.image_2 }}" fallback-src="{{ drrDomain + dirty_girl.media.image_2 }}" alt="" enlarge-dirty-image />
    </div>
  </div>
  <div class="col-xs-4" ng-if="dirty_girl.media.image_3">
    <div class="thumbnail">
      <img ng-src="{{ cdnDomain + dirty_girl.media.image_3 }}" fallback-src="{{ drrDomain + dirty_girl.media.image_3 }}" alt="" enlarge-dirty-image />
    </div>
  </div>
  <div class="col-xs-4" ng-if="dirty_girl.media.image_4">
    <div class="thumbnail">
      <img ng-src="{{ cdnDomain + dirty_girl.media.image_4 }}" fallback-src="{{ drrDomain + dirty_girl.media.image_4 }}" alt="" enlarge-dirty-image />
    </div>
  </div>
  <div class="col-xs-4" ng-if="dirty_girl.media.image_5">
    <div class="thumbnail">
      <img ng-src="{{ cdnDomain + dirty_girl.media.image_5 }}" fallback-src="{{ drrDomain + dirty_girl.media.image_5 }}" alt="" enlarge-dirty-image />
    </div>
  </div>
</div>