<div class="row-fluid page-thumbs clearfix">
  <div class="col-xs-12" ng-if="dirty_girl.media.image_1">
    <div class="thumbnail">
      <img ng-src="{{ endPoint.cdn + dirty_girl.media.image_1 }}" fallback-src="{{ endPoint.drr + dirty_girl.media.image_1 }}" alt="" />
    </div>
  </div>
  <div class="col-xs-12" ng-if="dirty_girl.media.image_2">
    <div class="thumbnail">
      <img ng-src="{{ endPoint.cdn + dirty_girl.media.image_2 }}" fallback-src="{{ endPoint.drr + dirty_girl.media.image_2 }}" alt="" />
    </div>
  </div>
  <div class="col-xs-12" ng-if="dirty_girl.media.image_3">
    <div class="thumbnail">
      <img ng-src="{{ endPoint.cdn + dirty_girl.media.image_3 }}" fallback-src="{{ endPoint.drr + dirty_girl.media.image_3 }}" alt="" />
    </div>
  </div>
  <div class="col-xs-12" ng-if="dirty_girl.media.image_4">
    <div class="thumbnail">
      <img ng-src="{{ endPoint.cdn + dirty_girl.media.image_4 }}" fallback-src="{{ endPoint.drr + dirty_girl.media.image_4 }}" alt="" />
    </div>
  </div>
  <div class="col-xs-12" ng-if="dirty_girl.media.image_5">
    <div class="thumbnail">
      <img ng-src="{{ endPoint.cdn + dirty_girl.media.image_5 }}" fallback-src="{{ endPoint.drr + dirty_girl.media.image_5 }}" alt="" />
    </div>
  </div>
</div>