<ng-include src="'views/shared-partials/navbar.html'"></ng-include>

<section class="friend-requests">
  <ng-include src="'views/friend-requests/request.partial.html'"></ng-include>
  <ng-include src="'views/friend-requests/request.partial.html'"></ng-include>
  <ng-include src="'views/friend-requests/request.partial.html'"></ng-include>
  <ng-include src="'views/friend-requests/request.partial.html'"></ng-include>
  <ng-include src="'views/friend-requests/request.partial.html'"></ng-include>
</section>