<div class="friend-request">
  <a ng-href="">
    <div class="thumb">
      <img src="http://image.shutterstock.com/display_pic_with_logo/102804/127420826/stock-photo-man-over-white-background-overreacting-with-hands-on-face-127420826.jpg" />
    </div>
  </a>
  <div class="request-actions">
    <a ng-href=""><span class="user-name">John Westfield</span></a>
    <div class="row">
      <div class="col-xs-6" style="padding-right: 10px;">
        <button type="button" class="btn btn-block btn-lg btn-default" name="" id=""><i>O</i> Accept</button>
      </div>
      <div class="col-xs-6">
        <button type="button" class="btn btn-block btn-lg btn-default" name="" id=""><i>X</i> Decline</button>
      </div>
    </div>
  </div>
  
  <div class="clearfix"></div>
</div>