<article class="feed-article">
  <header>
    <a ng-href="/#/profile/{{ activity.actor.slug }}">
      <div class="thumb">
        <img ng-src="{{ cdnDomain }}/{{ activity.actor.thumbnail || imgPlaceholder }}" />
      </div>
      <h2>{{ activity.actor.name }}</h2>
      <span am-time-ago="activity.created"></span>
    </a>
    <div class="clearfix"></div>
  </header>

  <!-- Content -->
  <ng-include src="'/views/news-feed/feed-content.partial.html'" ng-switch="activity.app"></ng-include>

  <footer>
    <span class="stats">{{ activity.stats.likes }} likes &bull; {{ activity.comments.length }} comments</span>

    <div class="row-fluid clearfix">
      <div class="col-xs-6" style="padding-left: 0; padding-right: 6px;">
        <button type="button" class="btn btn-block btn-lg btn-default" element="{{ activity.like_type }}" id="{{ activity.like_id }}" like="1" model="activity" like-this><i>T</i> I Like This</button>
      </div>
      <div class="col-xs-6" style="padding-left: 6px; padding-right: 0;">
        <a ng-href="/#/activity/{{ activity.id }}" class="btn btn-block btn-lg btn-default"><i>K</i> Comment</a>
      </div>
    </div>
  </footer>
</article>