<article>
  <header>
    <div class="thumb">
      <img src="http://image.shutterstock.com/display_pic_with_logo/102804/127420826/stock-photo-man-over-white-background-overreacting-with-hands-on-face-127420826.jpg" />
    </div>
    <h2>John Westfield</h2>
    <span>4 minutes ago</span>
    <div class="clearfix"></div>
  </header>
  
  <p>
    Good morning and Happy Fridayyy yaaayyy!!! I've been sick ughh but I'm finally feeling a bit better today!! Gonna have a relaxing night with our Pinup of the Month Kat Von Knox and watch the Victoria Secret Fashion show!! I'm so excited...I feel the need to hit the gym all day coming very soon after watching it hahaha xoxx
  </p>
  
  <footer>
    <span class="stats">4 likes &bull; 10 comments</span>
    
    <div class="row">
      <div class="col-xs-6">
        <button type="button" class="btn btn-block btn-lg btn-default">I Like This</button>
      </div>
      <div class="col-xs-6">
        <button type="button" class="btn btn-block btn-lg btn-default">Comment</button>
      </div>
    </div>
  </footer>
</article>