<article class="feed-article" ng-switch="activity.app">
  <header>
    <a ng-href="/#/profile/{{ activity.actor.slug }}">
      <div class="thumb">
        <img ng-src="{{ cdnDomain + activity.actor.thumbnail }}" fallback-src="{{ drrDomain + activity.actor.thumbnail }}" />
      </div>
      <h2>{{ activity.actor.name }}</h2>
      <span am-time-ago="activity.created | momentTime"></span>
    </a>
    <div class="clearfix"></div>
  </header>

  <!-- Content -->
  <p ng-switch-when="profile">
    {{ activity.title }}
  </p>

  <div class="media-wrapper" ng-switch-when="videos" ng-switch="activity.media.type">
    <div class="video-icon"></div>
    <img ng-src="{{ cdnDomain + activity.media.thumb }}" fallback-src="{{ drrDomain + activity.media.thumb }}" ng-switch-when="file" show-media-video="{{ activity.media.path }}" media-id="video-{{ activity.media.id }}" media-type="{{ activity.media.type }}" />
    <embed ng-switch-when="youtube" ng-src="{{ activity.media.video_id | trustVideoURL:'youtube' }}" width="{{ mediaWidth }}" height="300" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true">
    <iframe ng-switch-when="vimeo" ng-src="{{ activity.media.video_id | trustVideoURL:'vimeo' }}" width="{{ mediaWidth }}" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <a ng-href="{{ activity.media.path }}" target="_blank" ng-switch-default>
      <img ng-src="{{ cdnDomain + activity.media.thumb }}" fallback-src="{{ drrDomain + activity.media.thumb }}" />
    </a>
  </div>

  <p ng-switch-when="profile.avatar.upload">
    {{ activity.actor.name }} uploaded a new profile thumbnail!
  </p>

  <figure class="photo-container" ng-switch-when="photos">
    <div class="media-wrapper">
      <img ng-src="{{ cdnDomain + activity.media.image }}" fallback-src="{{ drrDomain + activity.media.image }}" />
    </div>
    <figcaption ng-if="activity.media.caption != ''">{{ activity.media.caption }}</figcaption>
  </figure>

  <footer>
    <span class="stats">{{ activity.stats.likes }} likes &bull; {{ activity.comments.length }} comments</span>

    <div class="row-fluid clearfix">
      <div class="col-xs-6" style="padding-left: 0; padding-right: 6px;">
        <button type="button" class="btn btn-block btn-lg btn-default" element="{{ activity.like_type }}" id="{{ activity.like_id }}" like="1" model="activity" like-this><i>T</i> I Like This</button>
      </div>
      <div class="col-xs-6" style="padding-left: 6px; padding-right: 0;">
        <a ng-href="/#/activity/{{ activity.id }}" class="btn btn-block btn-lg btn-default"><i>K</i> Comment</a>
      </div>
    </div>
  </footer>
</article>