<header class="group-header">
  <a ng-href="">
    <div class="thumbnail">
      <img ng-src="{{ cdnDomain }}/{{ group.avatar || imgPlaceholder }}" alt="" />
    </div>
  </a>
  <div class="group-info">
    Category: <span>{{ group.category }}</span><br />
    Created: <span am-time-ago="group.created"></span><br />
    Group Admin(s):
    <a ng-href="/#/profile/{{ member.slug }}" ng-repeat="member in group.members" ng-if="member.permissions == 1">
      {{ member.name }}
    </a>
  </div>

  <div class="row-fluid">
    <div class="col-xs-12">
      <button type="button" class="btn btn-block btn-primary" element="groups" id="{{ group.id }}" like="1" model="group" like-this>
        Like This Group ({{ group.stats.likes }})
      </button>
    </div>
  </div>

  <div class="clearfix"></div>
</header>