<div id="photo-status">
  <form name="newPhotoStatusForm" enctype="multipart/form-data" novalidate>
    <div class="row">
      <div class="col-xs-2" style="padding-right: 0;">
        <figure class="thumbnail">
          <img ng-src="{{ cdnDomain }}/{{ user.thumbnail || imgPlaceholder }}" alt="" />
        </figure>
      </div>
      <div class="col-xs-10" style="padding-left: 0;">
        <textarea name="caption" placeholder="Write something about this photo if you'd like..." ng-model="new_status.photo.caption"></textarea>
      </div>
      <div class="col-xs-12" style="margin-bottom: 10px;">
        <button type="button" class="btn btn-block btn-lg btn-default" onclick="$('#statusPhotoFile').click();">Click here to select your photo</button>
        <input id="statusPhotoFile" type="file" style="display: none;" ng-file-select="newPhotoStatus($files)" required />
      </div>
    </div>
  </form>

  <div class="progress progress-striped active">
    <div class="progress-bar"  role="progressbar" aria-valuenow="{{ uploadPercentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ uploadPercentage }}%">
      <span>{{ uploadPercentage }}% Complete</span>
    </div>
  </div>
</div>