<div id="text-status" style="display: block;">
  <form name="newTextStatusForm" ng-submit="newTextStatus(newTextStatusForm)" novalidate>
    <div class="row">
      <div class="col-xs-12" ng-show="statusError.text.error">
        <div class="alert alert-danger">
          {{ statusError.text.message }}
        </div>
      </div>

      <div class="col-xs-2" style="padding-left: 0; padding-right: 4px;">
        <figure class="thumbnail">
          <img ng-src="{{ cdnDomain }}/{{ user.thumbnail || imgPlaceholder }}" alt="" />
        </figure>
      </div>
      <div class="col-xs-10" style="padding-left: 0;">
        <textarea name="" placeholder="Write something good..." ng-model="new_status.text.status" required></textarea>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6" style="padding-right: 2px;">
        <a href="javascript: void(0);" class="btn btn-block btn-lg btn-default" ng-click="close()">Cancel</a>
      </div>
      <div class="col-xs-6" style="padding-left: 2px;">
        <button type="submit" class="btn btn-block btn-lg btn-primary">Share</button>
      </div>
    </div>
  </form>
</div>