<section id="event-feed" infinite-scroll="feed.load()" infinite-scroll-immediate-check="false">
  <ng-include src="'views/events/new-activity.partial.html'"></ng-include>

  <article class="feed-article" ng-repeat="article in event.activity" ng-if="event.activity.length > 0">
    <header>
      <span class="glyphicon glyphicon-remove" ng-if="article.user.id === current_user.id || is.admin()" target="{{ article.id }}" app="{{ article.app }}" model="event.activity" index="{{ $index }}" remove-activity></span>

      <a ng-href="/#/profile/{{ article.user.slug }}">
        <div class="thumb">
          <img ng-src="{{ cdnDomain }}/{{ article.user.thumbnail || imgPlaceholder }}" />
        </div>
      </a>
      <h2>{{ article.user.name }}</h2>
      <span am-time-ago="article.created"></span>
      <div class="clearfix"></div>
    </header>

    <p>{{ article.title }}</p>

    <footer>
      <span class="stats"><a ng-href="{{ article.id }}">{{ article.stats.likes }} likes &bull; {{ article.comments.length }} comments</a></span>

      <div class="row">
        <div class="col-xs-6">
          <button type="button" class="btn btn-block btn-lg btn-default" element="{{ article.like_type }}" id="{{ article.like_id }}" like="1" model="article" like-this><i>T</i> I Like This</button>
        </div>
        <div class="col-xs-6">
          <a href="/#/post/{{ article.id }}" class="btn btn-block btn-lg btn-default"><i>K</i> Comment</a>
        </div>
      </div>
    </footer>
  </article>

  <page-icon ng-if="event.activity.length == 0" icon="F" message="No current activity. Be the first!"></page-icon>

  <div class="row-fluid" ng-if="event.activity.length == 0">
    <div class="col-xs-12" ng-show="!profile.relation.request_sent">
      <a ng-href="" class="btn btn-block btn-primary">Add Comment</a>
    </div>
  </div>

  <div class="feed-loader" ng-show="busy"></div>
</section>