<section id="event-members">
  <ul ng-if="event.event.members.length != 0">
    <li class="clearfix" ng-repeat="member in event.event.members" ng-if="member.status == 1">
      <a ng-href="/#/profile/{{ member.slug }}">
        <div class="thumbnail">
          <img ng-src="{{ cdnDomain + member.user.thumbnail }}" fallback-src="{{ drrDomain + member.user.thumbnail }}" alt="" />
        </div>

        <span>{{ member.user.username }}</span>
      </a>
    </li>
  </ul>

  <page-icon ng-if="event.event.members.length == 0" icon="P" message="No current confirmed guests."></page-icon>
</section>