<header class="event-header">
  <a ng-href="">
    <div class="thumbnail">
      <img ng-src="{{ cdnDomain + event.event.avatar }}" fallback-src="{{ drrDomain + event.event.avatar }}" alt="" />
    </div>
  </a>
  <div class="event-info">
    Category: <span>{{ event.event.category }}</span><br />
    Time: <span>{{ event.event.start_date | date:'mediumDate' }} @ {{ event.event.start_date | date:'shortTime' }} - {{ event.event.end_date | date:'mediumDate' }} @ {{ event.event.end_date | date:'shortTime' }}</span><br />
    Location: <span>{{ event.event.location }}</span>
  </div>

  <div class="row-fluid">
    <div class="col-xs-12">
      <button type="button" ng-show="!event.event.stats.user.like" class="btn btn-block btn-default" element="events" id="{{ event.event.id }}" like="1" model="event.event" like-this>Like This Event ({{ event.event.stats.likes }})</button>
      <button type="button" ng-show="event.event.stats.user.like" class="btn btn-block btn-liked" element="events" id="{{ event.event.id }}" like="1" model="event.event" like-this>Liked This Event ({{ event.event.stats.likes }})</button>
    </div>
  </div>

  <div class="event-guest-status" ng-if="is.member()">
    <div class="row-fluid">
      <div class="col-xs-12" style="padding: 0;">
        <select class="form-control" target="{{ event.event.id }}" event-attendance>
          <option value="0">I'm Not Attending</option>
          <option value="1" ng-selected="is.attending()">I'm Attending</option>
        </select>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</header>