<ng-include src="'views/shared-partials/navbar.html'"></ng-include>

<section id="event">
  <ng-include src="'views/events/event-header.partial.html'"></ng-include>

  <div class="row-fluid event-navi">
    <div class="col-xs-4">
      <button type="button" class="btn btn-block" target="feed" toggle-event-nav>Feed</button>
    </div>
    <div class="col-xs-4">
      <button type="button" class="btn btn-block" target="details" toggle-event-nav>Details</button>
    </div>
    <div class="col-xs-4">
      <button type="button" class="btn btn-block" target="members" toggle-event-nav>Members</button>
    </div>
  </div>
  <div class="clearfix"></div>

  <ng-include src="'views/events/event-feed.partial.html'"></ng-include>
  <ng-include src="'views/events/event-details.partial.html'"></ng-include>
  <ng-include src="'views/events/event-members.partial.html'"></ng-include>
</section>