<ng-include src="'views/shared-partials/navbar.html'"></ng-include>

<section class="find-events">
  <div id="map" class="events-map">
    <div ui-map="myMap" ui-options="mapOptions" class="map-canvas"></div>
  </div>
  
  <div class="search-bar">
    <input type="search" name="" id="" placeholder="Search events by city:" />
  </div>
  
  <div class="search-results">
    <ng-include src="'views/events/event-result.partial.html'"></ng-include>
    <ng-include src="'views/events/event-result.partial.html'"></ng-include>
    <ng-include src="'views/events/event-result.partial.html'"></ng-include>
    <ng-include src="'views/events/event-result.partial.html'"></ng-include>
    <ng-include src="'views/events/event-result.partial.html'"></ng-include>
    <ng-include src="'views/events/event-result.partial.html'"></ng-include>
    <ng-include src="'views/events/event-result.partial.html'"></ng-include>
    <ng-include src="'views/events/event-result.partial.html'"></ng-include>
    <ng-include src="'views/events/event-result.partial.html'"></ng-include>
    <ng-include src="'views/events/event-result.partial.html'"></ng-include>
    <ng-include src="'views/events/event-result.partial.html'"></ng-include>
    <ng-include src="'views/events/event-result.partial.html'"></ng-include>
  </div>
</section>