<ng-include src="'/views/shared-partials/navbar.html'"></ng-include>

<div class="search-bar clearfix">
  <form ng-submit="search_events(search.params)" novalidate>
    <div class="col-xs-8" style="padding-left: 0; padding-right: 6px;">
      <input type="search" ng-model="search.params.q" placeholder="search events:" required />
    </div>
    <div class="col-xs-4" style="padding-right: 0;">
      <select ng-model="search.params.type" class="form-control">
        <option value="{{ type.value }}" ng-repeat="type in search.type">{{ type.name }}</option>
      </select>
    </div>
    <div class="col-xs-12" style="padding-left: 0; padding-right: 0; margin-top: 10px;">
      <button type="submit" class="btn btn-block btn-default">Search</button>
    </div>
  </form>
</div>

<section class="search-events clearfix" infinite-scroll="load_search_events()" infinite-scroll-distance="1" infinite-scroll-disabled="scroll_disabled" infinite-scroll-immediate-check="false">
  <div class="event clearfix" ng-repeat="result in search.results">
    <a ng-href="/#/events/{{ result.id }}">
      <div class="thumbnail no-border no-border-radius">
        <img ng-src="{{ cdnDomain }}/{{ result.thumbnail || imgPlaceholder }}" />
      </div>

      <div class="event-info">
        <span class="title">{{ result.title }}</span><br />
        <span>{{ result.startdate | amDateFormat:'ddd, MMM Do YYYY, h:mm:ss a' }} - {{ result.location }}</span>
      </div>
    </a>
  </div>

  <div class="search-loader" ng-if="loading"></div>
</section>