<div class="feed-activity">
  <nav class="navbar">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle back-button" ng-click="close();">
        <img src="/images/back-arrow.png" alt="" />
      </button>
    </div>
  </nav>

  <section class="activity-container" ng-switch="activity.app">
    <article class="main">
      <header>
        <div class="thumb">
          <img ng-src="{{ endPoint.cdn + activity.actor.thumbnail }}" fallback-src="{{ endPoint.drr + activity.actor.thumbnail }}" />
        </div>
        <h2>{{ activity.actor.name }}</h2>
        <span am-time-ago="activity.created"></span>
        <div class="clearfix"></div>
      </header>

      <!-- Content -->
      <p ng-switch-when="profile">
        {{ activity.title }}
      </p>

      <div class="media-wrapper" ng-switch-when="videos" ng-switch="activity.media.type">
        <div class="video-icon"></div>
        <img ng-src="{{ endPoint.cdn + activity.media.thumb }}" fallback-src="{{ endPoint.drr + activity.media.thumb }}" ng-switch-when="file" show-media-video="{{ activity.media.path }}" media-id="video-{{ activity.media.id }}" media-type="{{ activity.media.type }}" />
        <embed ng-switch-when="youtube" ng-src="{{ activity.media.video_id | trustVideoURL:'youtube' }}" width="{{ mediaWidth }}" height="300" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true">
        <iframe ng-switch-when="vimeo" ng-src="{{ activity.media.video_id | trustVideoURL:'vimeo' }}" width="{{ mediaWidth }}" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <a ng-href="{{ activity.media.path }}" target="_blank" ng-switch-default>
          <img ng-src="{{ endPoint.cdn + activity.media.thumb }}" fallback-src="{{ endPoint.drr + activity.media.thumb }}" />
        </a>
      </div>

      <p ng-switch-when="profile.avatar.upload">
        {{ activity.actor.name }} uploaded a new profile thumbnail!
      </p>

      <figure class="photo-container" ng-switch-when="photos">
        <div class="media-wrapper">
          <img ng-src="{{ endPoint.cdn + activity.media.image }}" fallback-src="{{ endPoint.drr + activity.media.image }}" />
        </div>
        <figcaption ng-if="activity.media.caption != ''">{{ activity.media.caption }}</figcaption>
      </figure>
      <!-- End content -->

      <span class="stats">{{ activity.stats.likes }} likes &bull; {{ activity.comments.length }} comments</span>
      <hr />

      <div class="row-fluid clearfix" style="padding: 0 10px 0px 10px;">
        <div class="col-xs-12" style="padding: 0 2px;">
          <button type="button" class="btn btn-block btn-lg btn-default" element="{{ activity.like_type }}" id="{{ activity.like_id }}" like="1" model="activity" like-this><i>T</i> I Like This</button>
        </div>
      </div>

      <div class="article-comments clearfix">
        <div class="comment clearfix" ng-repeat="comment in activity.comments">
          <span class="glyphicon glyphicon-remove" ng-if="comment.user.id === current_user.id || activity.user.id === current_user.id" model="activity.comments" target="{{ comment.id }}" index="{{ $index }}" remove-wall></span>

          <a ng-href="/#/profile/{{ comment.user.slug }}">
            <div class="thumb">
              <img ng-src="{{ endPoint.cdn + comment.user.thumbnail }}" fallback-src="{{ endPoint.drr + comment.user.thumbnail }}" />
            </div>
          </a>

          <div class="comment-body">
            <span class="name">{{ comment.user.name }}</span><br />
            <p>{{ comment.comment }}</p>
            <span class="timestamp" am-time-ago="comment.date"></span>
          </div>
        </div>
      </div>
    </article>
  </section>
</div>

<div class="compose-comment activity">
  <form name="AddComment" ng-submit="composeComment(AddComment, activity.comments, new_comment)" novalidate>
    <div class="row-fluid">
      <div class="col-xs-10">
        <input type="text" ng-model="new_comment.comment" placeholder="comment on this..." required />
      </div>
      <div class="col-xs-2">
        <button type="submit">Post</button>
      </div>
    </div>
  </form>
</div>