<ng-include src="'/views/shared-partials/navbar-back.html'"></ng-include>

<section class="activity-container">
  <article class="main">
    <header>
      <div class="thumb">
        <img ng-src="{{ cdnDomain }}/{{ activity.user.thumbnail || imgPlaceholder }}" />
      </div>
      <h2>{{ activity.user.name }}</h2>
      <span am-time-ago="activity.created"></span>
      <div class="clearfix"></div>
    </header>

    <p>{{ activity.title }}</p>

    <span class="stats">{{ activity.stats.likes }} likes &bull; {{ activity.comments.length }} comments</span>
    <hr />

    <div class="row-fluid clearfix" style="padding: 0 10px 0px 10px;">
      <div class="col-xs-6" style="padding: 0 2px;">
        <button type="button" class="btn btn-block btn-lg btn-default" element="{{ activity.like_type }}" id="{{ activity.like_id }}" like="1" model="activity" like-this><i>T</i> I Like This</button>
      </div>
      <div class="col-xs-6" style="padding: 0 2px;">
        <button type="button" class="btn btn-block btn-lg btn-default"><i>K</i> Share</button>
      </div>
    </div>

    <div class="article-comments clearfix">
      <div class="comment clearfix" ng-repeat="comment in activity.comments">
        <span class="glyphicon glyphicon-remove" ng-if="comment.user.id === current_user.id || activity.user.id === current_user.id" model="activity.comments" target="{{ comment.id }}" index="{{ $index }}" remove-wall></span>

        <a ng-href="/#/profile/{{ comment.user.slug }}">
          <div class="thumb">
            <img ng-src="{{ cdnDomain }}/{{ comment.user.thumbnail || imgPlaceholder }}" />
          </div>
        </a>

        <div class="comment-body">
          <span class="name">{{ comment.user.name }}</span><br />
          <p>{{ comment.comment }}</p>
          <span class="timestamp" am-time-ago="comment.date"></span>
        </div>
      </div>
    </div>
  </article>
</section>

<div class="compose-comment">
  <form name="AddComment" ng-submit="composeComment(AddComment, activity.comments, new_comment)" novalidate>
    <div class="row-fluid">
      <div class="col-xs-10">
        <input type="text" ng-model="new_comment.comment" required />
      </div>
      <div class="col-xs-2">
        <button type="submit">Post</button>
      </div>
    </div>
  </form>
</div>