<div class="media-wrapper">
  <a ng-href="/#/activity/{{ media.id }}">
    <img ng-src="{{ cdnDomain + media.media.image }}" fallback-src="{{ drrDomain + media.media.image }}" />
  </a>
</div>

<footer>
  <div class="row">
    <div class="col-xs-7 media-caption">
      {{ media.media.caption | substr:0:80 }}
    </div>
    <div class="col-xs-5 media-stats">
      {{ media.stats.likes }} likes &bull; {{ media.comments.length }} comments
    </div>
  </div>

  <div class="row media-actions">
    <div class="col-xs-6" style="padding-right: 6px;">
      <button type="button" class="btn btn-block btn-lg btn-primary" element="{{ media.like_type }}" id="{{ media.like_id }}" like="1" model="media" like-this><i>T</i> I Like This</button>
    </div>
    <div class="col-xs-6" style="padding-left: 6px;">
      <a href="javascript:void(0)" class="btn btn-block btn-lg btn-primary" show-activity="media" media="endPoint"><i>K</i> Comment</a>
    </div>
  </div>
</footer>