<article>
  <header>
    <a ng-href="">
      <div class="thumb">
        <img src="http://image.shutterstock.com/display_pic_with_logo/102804/127420826/stock-photo-man-over-white-background-overreacting-with-hands-on-face-127420826.jpg" />
      </div>
      <span class="user-name">John Westfield</span>
    </a>
    <span class="timestamp">4m</span>
  </header>
    
  <div class="clearfix"></div>
  
  <div class="media-wrapper">
    <!-- if video media show icon. Uncomment once angular services are available. -->
    <!--<div class="video-icon"></div>-->
    <img src="http://image.shutterstock.com/display_pic_with_logo/102804/127420826/stock-photo-man-over-white-background-overreacting-with-hands-on-face-127420826.jpg" />
  </div>
    
  <footer>
    <div class="row">
      <div class="col-xs-9 media-caption">
        I love posting photos on Dirty Rotten Rides. Let me know what you think of this photo I just posted. Thx DRR!
      </div>
      <div class="col-xs-3 media-stats">
        4 likes &bull; 8 comments
      </div>
    </div>
    
    <div class="row media-actions">
      <div class="col-xs-6" style="padding-right: 6px;">
        <button type="button" class="btn btn-block btn-lg btn-primary"><i>T</i> I Like This</button>
      </div>
      <div class="col-xs-6" style="padding-left: 6px;">
        <button type="button" class="btn btn-block btn-lg btn-primary"><i>K</i> Comment</button>
      </div>
    </div>
  </footer>
  
  <div class="clearfix"></div>
</article>