<ng-include src="'/views/shared-partials/navbar.html'"></ng-include>

<section class="welcome" style="text-align: center; padding: 20px;">
  <img src="/images/drr-brand.png" /><br />
  <span style="font-size: 12px; font-weight: bold; text-transform: uppercase;">App Beta v1.0</span><br />
  Welcome to the new mobile site for<br />
  Dirty Rotten Rides!<br />
  We just launched this mobile app so we're working hard to continue to add new features and fix bugs. Please leave us your feedback if you find a bug in the system, by clicking on the report problem menu link.<br />
  We're also proud to annouce that we're going to be launching a mobile app for iOS and Android in the near future.<br >

  Click the menu button on the top left to start looking around.
</section>