<ng-include src="'/views/shared-partials/navbar-back.html'"></ng-include>

<section id="user-albums">
  <div class="row photo-album" ng-repeat="album in albums" ng-if="album.permissions != '40' || profile.relation.friends == 'true' && album.permission != '40' || profile.relation.self == true && album.permissions == '40'">
    <a ng-href="/#/profile/{{ $stateParams.slug }}/album/{{ album.id }}">
      <div class="col-xs-12 user-album">
        <div class="thumbnail">
          <img ng-src="{{ cdnDomain }}/{{ album.thumbnail || imgPlaceholder }}" alt="" />
        </div>
        <span class="album-name">{{ album.name }} ({{ album.photo_count }})</span>
      </div>
    </a>
  </div>
</div>