<article class="feed-article" ng-switch="feed.type">
  <header>
    <div class="thumb">
      <img ng-src="{{ cdnDomain + feed.user.thumbnail }}" fallback-src="{{ drrDomain + feed.user.thumbnail }}" />
    </div>
    <h2>{{ feed.user.name }}</h2>
    <span am-time-ago="feed.created"></span>
    <div class="clearfix"></div>
  </header>

  <!-- Content -->
  <p ng-switch-when="profile">
    {{ feed.title }}
  </p>

  <p ng-switch-when="friends.connect">
    {{ feed.user.name }} and {{ feed.target.name }} have become friends.
  </p>

  <div class="media-wrapper" ng-switch-when="videos" ng-switch="feed.media.type">
    <div class="video-icon"></div>
    <img ng-src="{{ cdnDomain + feed.media.thumb }}" fallback-src="{{ drrDomain + feed.media.thumb }}" ng-switch-when="file" show-media-video="{{ feed.media.path }}" media-id="video-{{ feed.media.id }}" media-type="{{ feed.media.type }}" />
    <embed ng-switch-when="youtube" ng-src="{{ feed.media.video_id | trustVideoURL:'youtube' }}" width="{{ mediaWidth }}" height="300" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true">
    <iframe ng-switch-when="vimeo" ng-src="{{ feed.media.video_id | trustVideoURL:'vimeo' }}" width="{{ mediaWidth }}" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <a ng-href="{{ feed.media.path }}" target="_blank" ng-switch-default>
      <img ng-src="{{ cdnDomain + feed.media.thumb }}" fallback-src="{{ drrDomain + feed.media.thumb }}" />
    </a>
  </div>

  <p ng-switch-when="profile.avatar.upload">
    {{ feed.actor.name }} uploaded a new profile thumbnail!
  </p>

  <figure class="photo-container" ng-switch-when="photos">
    <div class="media-wrapper">
      <img ng-src="{{ cdnDomain + feed.media.image }}" fallback-src="{{ drrDomain + feed.media.image }}" />
    </div>
    <figcaption ng-if="feed.media.caption != ''">{{ feed.media.caption }}</figcaption>
  </figure>
  
  <footer>
    <span class="stats">{{ feed.stats.likes }} likes &bull; {{ feed.comments.length }} comments</span>
    
    <div class="row">
      <div class="col-xs-6" style="padding-right: 4px;">
        <button type="button" class="btn btn-block btn-lg btn-default" element="{{ feed.like_type }}" id="{{ feed.like_id }}" like="1" model="feed" like-this><i>T</i> I Like This</button>
      </div>
      <div class="col-xs-6" style="padding-left: 4px;">
        <a ng-href="/#/activity/{{ feed.id }}" class="btn btn-block btn-lg btn-default"><i>K</i> Comment</a>
      </div>
    </div>
  </footer>
</article>