<ng-include src="'/views/shared-partials/navbar-back.html'"></ng-include>

<section id="user-groups">
  <a ng-href="/#/groups/{{ group.id }}" ng-repeat="group in groups" ng-if="groups.length != '0' && profile.profile.settings.privacyProfileView == '0' || groups.length != '0' && profile.relation.self == true && profile.profile.settings.privacyProfileView == '40' || groups.length != '0' && profile.relation.friends == true">
    <div class="group">
      <div class="thumbnail">
        <img ng-src="{{ cdnDomain + group.thumbnail }}" fallback-src="{{ drrDomain + group.thumbnail }}" alt="" />
      </div>
      <span>{{ group.name }}</span>
      <div class="clearfix"></div>
    </div>
  </a>

  <page-icon ng-if="groups.length == '0' && profile.profile.settings.privacyProfileView == '0' || groups.length == '0' && profile.relation.self == true && profile.profile.settings.privacyProfileView == '40' || groups.length == '0' && profile.relation.friends == true" icon="E" message="No current groups."></page-icon>
  <page-icon ng-if="profile.profile.settings.privacyProfileView = '40' && profile.relation.friends == false && profile.relation.self != true" icon="P" message="Only friends of {{ profile.user.name }} can view this profile."></page-icon>
</section>