<ng-include src="'views/shared-partials/navbar.html'"></ng-include>

<div class="row feed-actions">
  <div class="col-xs-12" style="padding-right: 6px;">
    <a ng-href="">
      <div class="btn btn-block btn-lg btn-default" new-status><i>R</i> Share New Status/Media</div>
    </a>
  </div>
</div>

<section class="user-profile">
  <!-- Profile top section-->
  <ng-include src="'/views/profile/user-profile-header.partial.html'"></ng-include>

  <div id="profile-feed">
    <ng-include src="'/views/profile/feed-article.partial.html'"></ng-include>
    <ng-include src="'/views/profile/feed-article.partial.html'"></ng-include>
    <ng-include src="'/views/profile/feed-article.partial.html'"></ng-include>
  </div>
</section>