<span class="glyphicon glyphicon-remove icon-white pull-right" style="padding: 20px 30px;" ng-click="close()"></span>

<section class="activity-container">
  <article class="main">
    <figure class="photo-container">
      <div class="media-wrapper album-photo">
        <img ng-src="{{ endPoint.cdn + photo.image }}" fallback-src="{{ endPoint.drr + photo.image }}" />
      </div>
      <figcaption ng-if="photo.media.caption != ''">{{ photo.media.caption }}</figcaption>
    </figure>

    <span class="stats">{{ photo.stats.likes }} likes &bull; {{ photo.comments.length }} comments</span>
    <hr />

    <div class="row" style="padding: 0 10px;">
      <div class="col-xs-12">
        <button type="button" ng-show="!photo.stats.user.like" class="btn btn-block btn-lg btn-default" element="photo" id="{{ photo.id }}" like="1" model="photo" like-this><i>T</i> I Like This</button>
        <button type="button" ng-show="photo.stats.user.like" class="btn btn-block btn-lg btn-liked" element="photo" id="{{ photo.id }}" like="1" model="photo" like-this><i>T</i> I Liked This</button>
      </div>
    </div>

    <div class="article-comments clearfix">
      <div class="comment clearfix" ng-repeat="comment in photo.comments">
        <span class="glyphicon glyphicon-remove" ng-if="comment.user.id === current_user.id || video.user.id === current_user.id" model="photo.comments" target="{{ comment.id }}" index="{{ $index }}" remove-wall></span>

        <a ng-href="/#/profile/{{ comment.user.slug }}">
          <div class="thumb">
            <img ng-src="{{ endPoint.cdn + comment.user.thumbnail }}" fallback-src="{{ endPoint.drr + comment.user.thumbnail }}" />
          </div>
        </a>

        <div class="comment-body">
          <span class="name">{{ comment.user.name }}</span><br />
          <p>{{ comment.comment }}</p>
          <span class="timestamp" am-time-ago="comment.date"></span>
        </div>
      </div>
    </div>
  </article>
</section>

<div class="compose-comment">
  <form name="AddComment" ng-submit="composeComment(AddComment, photo.comments, new_comment)" novalidate>
    <div class="row-fluid">
      <div class="col-xs-10">
        <input type="text" ng-model="new_comment.comment" placeholder="write something..." required />
      </div>
      <div class="col-xs-2">
        <button type="submit">Post</button>
      </div>
    </div>
  </form>

  <div class="clearfix"></div>
</div>