<div class="user-profile-header">
  <a ng-href="/#/profile/{{ $stateParams.slug }}/photo_albums">
    <div class="thumbnail no-border no-border-radius">
      <img ng-src="{{ cdnDomain }}/{{ profile.user.avatar || imgPlaceholder }}" alt="" />
    </div>
  </a>

  <div class="profile-status-column">
    <div class="row-fluid">
      <div class="col-xs-12 profile-status clearfix" ng-if="profile.profile.status != ''">
        {{ profile.profile.status.status }}<br />
        <span am-time-ago="profile.profile.status.created"></span>
      </div>
      <div class="col-xs-12" ng-if="profile.profile.status != ''">
        <hr style="margin: 6px 0;" />
      </div>
      <div class="col-xs-12">
        Member since: <span style="color: #f3ca8a;" am-time-ago="profile.profile.registered"></span>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="row-fluid" style="margin-top: 10px;">
    <div class="col-xs-12" style="padding-left: 0; padding-right: 0;">
      <button class="btn btn-block btn-default" element="profile" id="{{ profile.user.id }}" like="1" model="profile.profile" like-this>
        <i>T</i> Like this user ({{ profile.profile.stats.likes }})
      </button>
    </div>
  </div>

  <div class="row-fluid" style="margin-top: 15px;" ng-if="profile.relation.self != true">
    <div class="col-xs-6" style="padding-left: 0;" ng-switch="profile.relation.friends">
      <button type="button" class="btn btn-block" ng-switch-when="false" target="{{ profile.user.id }}" send-friend-request>Add Friend</button>
      <button type="button" class="btn btn-block" ng-switch-when="true" target="{{ profile.user.id }}" remove-friend>Remove Friend</button>
    </div>
    <div class="col-xs-6" style="padding-right: 0;">
      <button type="button" class="btn btn-block" ng-click="newMessage()">Message</button>
    </div>
  </div>
  <div class="clearfix"></div>
</div>

<nav class="profile-navigation">
  <div class="row-fluid user-activities" ng-if="profile.profile.settings.privacyProfileView != '40' && profile.relation.friends == true || profile.relation.self == true">
    <div class="col-xs-4">
      <navigation-item ng-href="/#/profile/{{ $stateParams.slug }}/about" icon="A" title="About"></navigation-item>
    </div>
    <div class="col-xs-4">
      <navigation-item ng-href="/#/profile/{{ $stateParams.slug }}/friends" icon="P" title="Friends ({{ profile.profile.counts.friends | number }})"></navigation-item>
    </div>
    <div class="col-xs-4">
      <navigation-item ng-href="/#/profile/{{ $stateParams.slug }}/photo_albums" icon="H" title="Photos ({{ profile.profile.counts.photos | number }})"></navigation-item>
    </div>
    <div class="col-xs-4">
      <navigation-item ng-href="/#/profile/{{ $stateParams.slug }}/videos" icon="Q" title="Videos ({{ profile.profile.counts.videos | number }})"></navigation-item>
    </div>
    <div class="col-xs-4">
      <navigation-item ng-href="/#/profile/{{ $stateParams.slug }}/events" icon="E" title="Events ({{ profile.profile.counts.events | number }})"></navigation-item>
    </div>
    <div class="col-xs-4">
      <navigation-item ng-href="/#/profile/{{ $stateParams.slug }}/groups" icon="U" title="Groups ({{ profile.profile.counts.groups | number }})"></navigation-item>
    </div>
  </div>
</nav>