<span class="glyphicon glyphicon-remove icon-white pull-right" style="padding: 20px 30px;" ng-click="close()"></span>

<section class="activity-container">
  <article class="main">
    <div class="media-wrapper video-view" ng-switch="video.media.type">
      <img ng-src="{{ endPoint.cdn + video.media.thumbnail }}" ng-switch-when="file" show-media-video="{{ video.media.path }}" media-id="video-{{ video.id }}" media-type="{{ video.media.type }}" />
      <embed ng-switch-when="youtube" ng-src="{{ video.media.video_id | trustVideoURL:'youtube' }}" width="{{ mediaWidth }}" height="300" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true">
      <iframe ng-switch-when="vimeo" ng-src="{{ video.media.video_id | trustVideoURL:'vimeo' }}" width="{{ mediaWidth }}" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <a ng-href="{{ video.media.path }}" target="_blank" ng-switch-default>
        <img ng-src="{{ endPoint.cdn + video.media.thumbnail }}" />
      </a>
    </div>

    <span class="stats">{{ video.stats.likes }} likes &bull; {{ video.comments.length }} comments</span>
    <hr />

    <div class="row" style="padding: 0 10px;">
      <div class="col-xs-12">
        <button type="button" ng-show="!video.stats.user.like" class="btn btn-block btn-lg btn-default" element="videos" id="{{ video.id }}" like="1" model="video" like-this><i>T</i> I Like This</button>
        <button type="button" ng-show="video.stats.user.like" class="btn btn-block btn-lg btn-liked" element="videos" id="{{ video.id }}" like="1" model="video" like-this><i>T</i> I Liked This</button>
      </div>
    </div>

    <div class="article-comments clearfix">
      <div class="comment clearfix" ng-repeat="comment in video.comments">
        <span class="glyphicon glyphicon-remove" ng-if="comment.user.id === current_user.id || video.user.id === current_user.id" model="video.comments" target="{{ comment.id }}" index="{{ $index }}" remove-wall></span>

        <a ng-href="/#/profile/{{ comment.user.slug }}">
          <div class="thumb">
            <img ng-src="{{ endPoint.cdn + comment.user.thumbnail || imgPlaceholder }}" />
          </div>
        </a>

        <div class="comment-body">
          <span class="name">{{ comment.user.username }}</span><br />
          <p>{{ comment.comment }}</p>
          <span class="timestamp" am-time-ago="comment.date"></span>
        </div>
      </div>
    </div>
  </article>
</section>

<div class="compose-comment">
  <form name="AddComment" ng-submit="composeComment(AddComment, video.comments, new_comment)" novalidate>
    <div class="row-fluid">
      <div class="col-xs-10">
        <input type="text" ng-model="new_comment.comment" required />
      </div>
      <div class="col-xs-2">
        <button type="submit">Post</button>
      </div>
    </div>
  </form>
</div>